/*fonts*/
	@font-face {
  font-family: 'PFDinTextCompPro-Thin';
  src: url(../fonts/PFDinTextCompPro-Thin.woff) format('woff'),
       url(../fonts/PFDinTextCompPro-Thin.ttf) format('truetype'),
       url('../fonts/PFDinTextCompPro-Thin.svg#PFDinTextCompPro-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'pfdintextcomppro-thin';
  src: url('../fonts/pfdintextcomppro-thin.eot');
  src: url('../fonts/pfdintextcomppro-thin.woff2') format('woff2'),
       url('../fonts/pfdintextcomppro-thin.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'PFDinTextCompPro-Medium';
  src: url('../fonts/PFDinTextCompPro-Medium.woff') format('woff'),
       url('../fonts/PFDinTextCompPro-Medium.ttf') format('truetype'),
       url('../fonts/PFDinTextCompPro-Medium.svg#PFDinTextCompPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'pfdintextcomppro-medium';
  src: url('../fonts/pfdintextcomppro-medium.eot');
  src: url('../fonts/pfdintextcomppro-medium.woff2') format('woff2'),
       url('../fonts/pfdintextcomppro-medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'PFDinTextCompPro-Light';
  src: url('../fonts/PFDinTextCompPro-Light.woff') format('woff'),
       url('../fonts/PFDinTextCompPro-Light.ttf') format('truetype'),
       url('../fonts/PFDinTextCompPro-Light.svg#PFDinTextCompPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'pfdintextcomppro-light';
  src: url('../fonts/pfdintextcomppro-light.eot');
  src: url('../fonts/pfdintextcomppro-light.woff2') format('woff2'),
       url('../fonts/pfdintextcomppro-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'Flow';
  src: url('../fonts/Flow.eot');
  src: url('../fonts/Flow.woff2') format('woff2'),
       url('../fonts/Flow.woff') format('woff'),
       url('../fonts/Flow.ttf') format('truetype'),
       url('../fonts/Flow.svg#Flow') format('svg'),
       url('../fonts/Flow.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
	}
	@font-face {
  font-family: 'Flow-Bold';
  src: url('../fonts/Flow-Bold.eot');
  src: url('../fonts/Flow-Bold.woff2') format('woff2'),
       url('../fonts/Flow-Bold.woff') format('woff'),
       url('../fonts/Flow-Bold.ttf') format('truetype'),
       url('../fonts/Flow-Bold.svg#Flow-Bold') format('svg'),
       url('../fonts/Flow-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
	}
/*header*/
/*header-top*/
	html, body {
		height: 100%;
		background:#fff;
		font-family: 'PFDinTextCompPro-Thin', 'pfdintextcomppro-thin';
	}
	.wrapper {
		width: 950px;
		padding: 10px 15px 0;
		margin: 0 auto;
		text-align: center;				
	}
	.made_in_ukraine {
		position: fixed;
		top: 200px;
		left: 0;
		z-index: 5;
	}
	.contacts {
		float: left;
		font-size: 18px;
		width: 385px;
		text-align: left;				
	}	
	header {
		position: relative;
	}
	.header_top {
		color: #959595;		
	}
	.header_top:after {
		display: block;
		content:'';
		clear: both;
	}
	.phone, .mail {
		position: relative;
		padding: 13px 0 0 40px;
	}
	.phone:before, .mail:before {
		content: '';
		display: block;	
		width: 35px;
		height: 30px;				
		background: url(../img/icons.png) 5px -5px no-repeat;
		position: absolute;
		bottom: 0;
		left:0;
	}
	.mail:before {				
		background: url(../img/icons.png) -33px 10px no-repeat;	
		left: -5px;
		bottom: -5px;		
	}
	.contacts a {
		text-decoration: none;
		color: #959595;	
	}	
	.logo {
		position: relative;	    
	    z-index: 5;
	    float: left;
	    background: #fff;
	    width: 184px;
	    height: 5px;
	}
	.logo img {
		position: absolute;
    	display: block;
   		padding: 20px;
	    border-radius: 50%;
	    background: #fff;
	}
	.top_right {
		float: right;				
	}
	.search {
		display: inline-block;
	}	
	.search *{
		font-family: 'PFDinTextCompPro-Thin', 'pfdintextcomppro-thin';
		font-size:18px;	
		cursor: pointer;
		vertical-align: bottom;
		box-sizing: border-box;
	}
	.search input {		
		width: 190px;		
		padding: 3px 10px;
		border:none;
		border-bottom: 1px solid #65baaf;	
	}
	.search input:focus {
		outline: none;
	}	
	.search input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
	.search input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
	.search input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
	.search input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
	.search input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
	.search input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
	.search input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
	.search input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

	 .search button {
		width: 34px;
		height: 33px;		
		border-radius: 50%;
		border:none;
		background: #fff url(../img/icons.png) -188px 0 no-repeat;		
	}
	.lang {
		display: inline-block;
		margin-left: 20px;
		vertical-align: top;
	}
	.lang li {
		display: inline-block;		
		padding: 10px 5px;
	}
	.lang .active {
		color: #fff;
		background: #65baaf;
		position: relative;
	}
	.lang .active:before {
		content: '';		
		background: #65baaf;
		width: 100%;
		height: 10px;
		position: absolute;
		bottom: 100%;
		left: 0;
	}
	.lang .active:after {
		content: '';
		width: 0;
		position: absolute;		
		left: 0;		
		top: 100%;		
		border-left: 14px solid #65baaf;
    	border-right: 14px solid #65baaf;
    	border-bottom: 14px solid transparent;		
	}
/*header-bottom*/
	.header_bottom:after {
		content: '';
		display: block;
		clear: both;
	}
	.top_menu {
		font-size: 0;
		padding: 40px 0 20px 0;	
	}	
	.top_menu li {
		font-size: 18px;
		display: inline-block;
		margin-right: 24px;	
	}	
	.top_menu li:nth-child(4) {
		margin-right: 300px;
	}
	.top_menu li:last-child {
		margin-right: 0;
	}
	.top_menu li a{	
		text-decoration: none;
		text-transform: uppercase;
		color: #959595;			
	}
/*slider*/
	.slider {
		position: relative;
		max-width: 100%;
		height: 690px;	
	}
	.slider .slides {
		width: 100%;
		overflow: hidden;	
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.slider .slides:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,.5);
		z-index: 2;
	}
	.slider .slides img {
		min-width: 100%;
		min-height: 100%;
	}
	.slider .text {
		text-align: center;
		color: #fff;
		position: absolute;
		top:50px;
		left: 50%;
		transform: translate(-50%,0);
		z-index: 3;
	}
	.slider .text .devis {
		text-transform: uppercase;
		font-size: 20px;
	}
	.slider .text h1 {
		margin: 90px 0 60px;
		text-transform: uppercase;
		letter-spacing: .2em;
		font-size: 72px;
		font-family: 'PFDinTextCompPro-Medium', 'pfdintextcomppro-medium';
	}
	.slider .text .description {
		 font-family: 'Flow';
		 font-size: 32px;
	}
	.slider .paggination {
		display: flex;
    	justify-content: center;
    	align-items: center;
		position: absolute;
		bottom: 34px;
		left: 50%;
		transform: translate(-50%,0);
		z-index: 4;		
	}
	.slider .paggination li {
		display: inline-block;
		margin: 0 6px;		
	}
	.slider .paggination li a {
		width: 25px;
		height: 25px;
		display: inline-block;
		background: url(../img/bublik.png) 50% 50% no-repeat;
	}
	.slider .paggination .active {
		width: 37px;
		height: 37px;
		display: inline-block;
		background: url(../img/cookie.png) 50% 50% no-repeat;
	}
/*name*/
	.name>.wrapper{
		position: relative;
	}
	.name>.wrapper:before {
		content: "";
		display: block;
		width: 311px;
		height: 346px;
		background: url(../img/bg_1.png);
		position: absolute;
		left:-90px;
		bottom:-28px;
		z-index: 2;
	}
	.name>.wrapper:after {
		content: "";
		display: block;
		width: 204px;
		height: 323px;
		background: url(../img/bg_2.png);
		position: absolute;
		right:0;
		bottom:25px;
	}
	.name .wrapper p {
		width: 350px;
		margin:20px auto 0;
		font-size: 32px;
		color: #959595;
	}
	.name .wrapper >img {
		display: block;
		margin: 0 auto;
		padding: 50px 0 100px 0;
	}	
/*product*/
	.product {
		border-top: 1px solid #9e9e9e;
		position: relative;
		z-index: 1;
	}
	.product:before {
		content: '';
		display: block;
		width: 44px;
		height: 43px;
		padding: 0 20px;
		position: absolute;
		left: 50%;
		top: -40px;
		transform: translate(-50%,50%);
		background: #fff url(../img/icons.png) 21px -49px no-repeat;
	}
	.product h2 {
		 font-family: 'Flow-Bold';
		 font-size: 32px;
		 text-transform: uppercase;
		 color: #65baaf;
		 margin: 30px auto 60px;
	}
	.product .book {
		display: inline-block;		
		width: 701px;
		height: 442px;	
	}
	.product .book .book_bg {
		width: 701px;
		height: 402px;		
		background: url(../img/bg_book.png) 50% 100% no-repeat;
		margin-top: -10px;
		position: relative;
	}
	.product .book .tab {
		position: relative;
	}
	.product .book .tab:before, .product .book .tab:after {
		content: '';
		display: block;
		position: absolute;
		top: -30px;
    	left: 270px;
		width: 39px;
		height: 72px;		
		background: url(../img/bg_tab_1.png);
	}
	.product .book .tab:after {
		background: url(../img/bg_tab_2.png);
		width: 66px;
		height: 25px;
		top: 18px;
    	left: 570px;
	}

	.product .book .tab > li{
		display: inline-block;
	}
	.product .book .tab a {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		font-size: 20px;
		width: 170px;
		padding: 15px 0;
		background: url(../img/bg_tab.png) 50% 50% no-repeat;
	}
	.product .book .tab .active {
		 font-family: 'PFDinTextCompPro-Medium', 'pfdintextcomppro-medium';
		 font-size: 17px;
		 background: url(../img/bg_tab_a.png) 0 0 no-repeat;
	}
	.product .book .book_left {
		float: left;
		width: 275px;
		margin-left: 95px;		
	}
	.product .book .book_right {
		float: right;
	}
	.product .book .book_bg:after {
		display: block;
		content: '';
		clear: both;
	}
	.product .book .book_left img {
		display: block;
		margin: 60px auto 35px;
	}
	.product .book .book_bg a {
		text-decoration: none;
		text-transform: uppercase;
		color: #b28c64;
		font-family: 'PFDinTextCompPro-Medium', 'pfdintextcomppro-medium';

	}












